<%- include('partials/header') %>
<main class="form-signin w-100 m-auto">
  <!-- Makes POST request to /login route -->
  <form action="/login" method="POST">
    <h2>Welcome Back!</h2>
    <h1 class="h3 mb-3 fw-normal"></h1>

    <div class="form-floating">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="email"
      />
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
      />
      <label for="floatingPassword">Password</label>
    </div>

    <div
      class="forgot-password link text-sm underline text-primary-light text-right"
    >
      Forgot password?
    </div>
    <button class="w-100 btn btn-lg btn-outline-dark login" type="submit">
      Login
    </button>
  </form>
</main>

<%- include('partials/footer') %>
